/*_________________________HEAD_________________________*/
.favicon{
    width: 130px;
    height: 75px;
}
/*________________________/HEAD_________________________*/


/*________________________HEADER________________________*/
.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}
.login{
    text-decoration: none;
    color: black;
}
/*_______________________/HEADER________________________*/


/*_______________________CAROUSEL_______________________*/
.carousel{
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}
/*______________________/CAROUSEL_______________________*/


/*_________________________BODY_________________________*/
.btn-primary{
    width: 200px;
    background-color: #6816DC!important;
    border: #6816DC!important;
}
.btn-primary:hover{
    width: 200px;
    background-color: #AB63F2!important;
    border: #AB63F2!important;
}
.map{
    margin-top: 30px;
    border-radius: 5%;
}
/*_________________________BODY_________________________*/


/*________________________FOOTER________________________*/
.footer{
    background-color: rgb(230, 230, 230);
    padding: 40px;
    margin-top: 80px;
}
.text-footer{
    margin-top: 20px;
}
.icons{
    font-size: 50px;
    margin: 10px;
    color: #6816DC;
}
.icons-contact{
    font-size: 30px;
    margin-right: 10px;
    color: #6816DC;
}
.subtitles-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}
/*_______________________/FOOTER________________________*/
