/*_________________________HEAD_________________________*/
.favicon{
    width: 130px;
    height: 75px;
}
/*________________________/HEAD_________________________*/


/*________________________HEADER________________________*/
.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}
.dropdown{
    margin-right: 15px;
}
.btn-lenguage{
    background-color: #6816DC!important;
    border-color: #00000000!important;
}
.icons-themeDark{
    font-size: x-large;
    margin-right: 10px;
    padding: 2px;
}
.icons-themeLight{
    font-size: x-large;
    margin-right: 10px;
    padding: 2px;
    color: #5E80A9;
}
.btn-login{
    background-color: #71D980!important;
    color: white!important;

}
/*_______________________/HEADER________________________*/


/*_______________________CAROUSEL_______________________*/
.carousel{
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}
/*______________________/CAROUSEL_______________________*/

/*_________________________BODY_________________________*/
.btn-primary{
    width: 200px;
    background-color: #6816DC!important;
    border: #6816DC!important;
}
.btn-primary:hover{
    width: 200px;
    background-color: #AB63F2!important;
    border: #AB63F2!important;
}
.map{
    margin-top: 30px;
    border-radius: 5%;
}
/*_________________________BODY_________________________*/


/*________________________FOOTER________________________*/
.footer{
    background-color: #f8f9fa;
    padding: 40px;
    margin-top: 80px;
}
.text-footer{
    margin-top: 20px;
}
.icons{
    font-size: 50px;
    margin: 10px;
    color: #6816DC;
}
.icons-contact{
    font-size: 30px;
    margin-right: 10px;
    color: #6816DC;
}
.subtitles-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}
.dark{
    background-color: rgb(40, 44, 48);
}
.light{
    background-color: #F2F2F2;
}
/*_______________________/FOOTER________________________*/

/*_______________________TRANSLATE______________________*/
.VIpgJd-ZVi9od-ORHb-OEVmcd{
    display: none !important;
}
.google_translate_element{
    background-color: #6816dc;
}
.goog-te-gadget img{
    display: none !important;
}
.goog-te-gadget-simple{
    background-color: #6816dc !important;
    padding: 6px!important;
    font-size: 13pt !important;
    height: 40px!important;
    margin-right: 10px;
    color: white!important;
    font-family: 'Helvetica Neue', sans-serif!important;
    border-radius: 8px;
    border-color: #00000000!important;
    
}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span{
    text-decoration: none;
    color: white;
    font-family: 'Nimbus Sans L', sans-serif!important;   
}
/*______________________/TRANSLATE______________________*/