*{
    margin: 0;
    padding: 0;
}

/*_________________________HEAD_________________________*/
.favicon{
    width: 130px;
    height: 75px;
}
/*________________________/HEAD_________________________*/

/*________________________HEADER________________________*/
.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}
.login{
    text-decoration: none;
    color: black;
}
.dropdown{
    margin-right: 15px;
}
.btn-lenguage{
    background-color: #6816DC!important;
}
.icons-themeDark{
    font-size: x-large;
    margin-right: 10px;
    padding: 2px;
}
.icons-themeLight{
    font-size: x-large;
    margin-right: 10px;
    padding: 2px;
    color: #5E80A9;
}
.filtre{
    margin-top: 140px;
}
.form-select{
    background-color: #6816DC!important;
    color: white!important;
    width: 200px!important;
    margin-right: 21px!important;
}
.root{
    margin-top: 30px;
}
.card{
    margin-left: 20px;
    margin-top: 20px;
}
.card-img-top{
    width: 140px!important;
}
.skill1{
    width: 120px;
    height: 30px;
}
.btn{
    background-color: #6816DC!important;
    border-color: #6816DC!important;
}
.badge{
    background-color: #71D980!important;
    border-color: #71D980!important;
    margin-left: 5px;
}
.text-bg-1{
    background-color: #acacac!important;
    border-color: #bdbdbd!important;
}
/*_______________________/HEADER________________________*/

/*________________________FOOTER________________________*/
.footer{
    background-color: #f8f9fa;
    padding: 40px;
    margin-top: 80px;
}
.text-footer{
    margin-top: 20px;
}
.icons{
    font-size: 50px;
    margin: 10px;
    color: #6816DC;
}
.icons-contact{
    font-size: 30px;
    margin-right: 10px;
    color: #6816DC;
}
.subtitles-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

.dark{
    background-color: rgb(40, 44, 48);
}

.light{
    background-color: #F2F2F2;
}
/*_______________________/FOOTER________________________*/


.VIpgJd-ZVi9od-ORHb-OEVmcd {

display: none !important;

}
.google_translate_element {

    background-color: #6816dc;

}

.goog-te-gadget-simple {
    background-color: #6816dc !important;
}

.goog-te-gadget img {
    display: none !important;
}
.goog-te-gadget-simple {
    background-color: #6816dc !important;
    padding-right: 10px;
    font-size: 14pt !important;
    height: 40px;
    margin-right: 10px;
    color: white;
    border-radius: 8px;

   
}
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span {
    text-decoration: none;
    color: white;
}


.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span {
    text-decoration: none;
    color: white !important;
   
}
